<section>
<h1 class="content-title">
{{- .Title -}}{{- if .Draft -}}&nbsp;:: Draft{{- end -}}
</h1>
{{- if .Params.subtitle -}}
<p class=subtitle>{{ .Params.subtitle }}</p>
{{- end -}}

{{- if and (.IsPage) (.Params.meta) -}}
<span class="content-meta">
  {{- if .Params.author -}}
  <p class="author">{{ .Params.author }}</p>
  {{- end -}}

  {{- if not .Params.hidedate -}}
  <p class="date">{{ .Date.Format "2006-01-02" }}</p>
  {{- end -}}

  {{- if not .Params.hidereadtime -}}
  <p class="readtime">{{ .ReadingTime }} min read</p>
  {{- end -}}

  {{- if .Params.tags -}}
    <p class="tags">
      Tags: &nbsp;
      {{- range .Params.tags -}}
      <a href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{- end -}}
    </p>
  {{- end -}}

  {{- if .Params.categories -}}
    <p class="categories">
      Categories: &nbsp;
      {{- range .Params.categories -}}
      <a href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{- end -}}
    </p>
  {{- end -}}
</span>
{{- end -}}
</section>
