<head>
<title>{{ .Title  }} - {{ .Site.Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<link rel="canonical" href="{{ .Permalink }}" />
<!-- favicon -->
{{ if .Site.Params.favicon }}
<link rel="icon" href="{{ .Site.Params.favicon | absURL }}" />
{{ end }}
{{ if .Site.Params.touchicon }}
<link rel="apple-touch-icon" href="{{ .Site.Params.touchicon | absURL }}" />
{{ end }}
  {{ partial "header.includes.html" . }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
</head>
