<iframe
  style="width: 100%; height: 500px;"
  frameborder="0"
  marginwidth="0"
  marginheight="0"
  scrolling="no"
  src="https://www.slideshare.net/slideshow/embed_code/key/{{.Get "id"}}?startSlide=1"
  allowfullscreen
  webkitallowfullscreen
  mozallowfullscreen>
</iframe>
<div style="margin-bottom: 5px;text-align: center;">
  <strong>
    <a
        href="https://www.slideshare.net/{{.Get "url"}}"
        title="{{.Get "title"}}"
        target="_blank">
      {{.Get "title"}}
    </a>
  </strong> from <strong>
    <a href="https://www.slideshare.net/{{.Get "username"}}" target="_blank">
      {{.Get "author"}}
    </a>
  </strong>
</div>
